<br>
<table>
  <tr>
    <th>Nombre</th>
  </tr>
  <%= render :partial => 'provider', :collection => @providers %>
</table>
<p style= "margin-left: 43%;"><%= link_to 'Añadir un nuevo proveedor', :action => 'new' %></p>
<div style="margin-left: 48%;"><%= image_tag "add_user.png", :alt => "Usuario", :title => "Usuario" ,  :width => 20 %></div>
