<table>
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Borrar</th>
  </tr>

  <%= render :partial => 'customer', :collection => @customers %>
</table>

<p><%= link_to 'Añadir un nuevo cliente', :action => 'new' %></p>
