<tr>
  <td><%= link_to manufacturer.name, :action => 'show', :id => manufacturer %></td>
  <td><%= link_to 'Edit', :action => 'edit', :id => manufacturer %></td>
  <td>
    <%= button_to 'Delete', { :action => 'destroy', :id => manufacturer },
        data: { confirm: "Are you sure you want to delete manufacturer #{manufacturer.name}?" } %>   
  </td>
</tr>
