<div style="margin-left: 50px;">
<%= form_tag :action => 'create' %>
<%= render :partial => 'form' %>
<div style="margin-left: 45%;"><%= submit_tag 'Crear' %></div>

<div style="margin-left: 45%;"><%= link_to 'Volver atrás', :action => 'index' %></div></div>
