<fieldset>
	
	<p><label for="item_choosetype">Seleccionar tipo de articulo</label><br/>
	<%= select_tag(:itemtype, options_for_select([['Procesador', 'procesador'], ['Placa Base', 'placabase'], ['Tarjeta Grafica', 'grafica']])) %>
</fieldset>