<tr>
  <td><%= link_to item.name, :action => 'show', :id => item %></td>
  <td><%= link_to 'Editar', :action => 'edit', :id => item %></td>
  <td>
    <%= button_to 'Borrar', { :action => 'destroy', :id => item },
        data: { confirm: "Estás seguro de querer borrar #{item.name}?" } %>   
  </td>
</tr>
