<br><span><strong>FuriousPC</strong>, tu tienda de componentes informáticos</span> <%= image_tag "carrito.png", :alt => "Carrito", :title => "Carrito" ,  :width => 40 %>
<p style="margin-left: 385px;">Informática de la mejor calidad y siempre al mejor precio. FuriousPC es tu tienda online de componentes.</p>
<h2 style="margin-left: 570px;">Realizada por: </h3>
<p style="margin-left: 570px;">Laura Álvarez Gallego </p>
<p style="margin-left: 570px;">Enrique Arauz Morales </p>
<p style="margin-left: 570px;">Enrique Montero Pérez </p>
<p style="margin-left: 570px;">Ramón Ramírez González</p>
<p style="margin-left: 570px;">Jeirgino Ranarivelo</p>

